<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Dashboard</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content padding id="dashboard">
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let number of numbers">
        <ion-col *ngIf="number == chartPositions.chartDealDonut" col-12 col-sm-6 id="dealDonut">
          <ion-row id="dealDonut-header">
            <ion-col col-2 id="icon-1">
              <ion-icon name="ios-locate-outline"></ion-icon>
            </ion-col>
            <ion-col col-9 id="title">
              <ion-row>
                <ion-col col-12 id="" style="font-size:20px;font-weight: bold;color:white">
                  {{DealTotal}} deals
                </ion-col>
                <ion-col col-12 style="color:white; font-size: 18px;">
                  Deals Total (d)
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-1 id="icon-2">
              <ion-icon name="md-arrow-dropdown" (click)="dealDonut = !dealDonut"></ion-icon>
              <!-- <ion-icon name="md-sync"></ion-icon> -->
            </ion-col>
          </ion-row>
          <ion-row id="dealDonut-body" [hidden]="dealDonut">
            <ion-col col-12 col-sm-12>
              <div id="chartDealDonut" style="display: block;"></div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="number == chartPositions.chartTotalSales" col-12 col-sm-6 id="totalSale">
          <ion-row id="totalSale-header">
            <ion-col col-2 id="icon-1">
              <ion-icon name="md-pricetags"></ion-icon>
            </ion-col>
            <ion-col col-9 id="title">
              <ion-row>
                <ion-col col-12 id="" style="font-size:20px;font-weight: bold;color:white">
                  {{SaleTotalHDNow}} M
                </ion-col>
                <ion-col col-12 style="color:white; font-size: 18px;">
                  Sales Total {{strFinancialYear}}
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-1 id="icon-2">
              <ion-icon name="md-arrow-dropdown" (click)="totalSale = !totalSale"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row id="totalSale-body" [hidden]="totalSale">
            <ion-col col-12 col-sm-12>
              <div id="chartTotalSales" style="display: block;"></div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="number == chartPositions.chartTarget" col-12 col-sm-12 id="target">
          <ion-row id="target-header">
            <ion-col col-2 col-sm-1 id="icon-1">
              <ion-icon name="ios-locate-outline"></ion-icon>
            </ion-col>
            <ion-col col-9 col-sm-10 id="title">
              <ion-row>
                <ion-col col-12 id="" style="font-size:20px;font-weight: bold;color:white">
                  {{SaleTotalHDNow}} M vs {{SaleTotalHDTarget}} M
                </ion-col>
                <ion-col col-12 style="color:white; font-size: 18px;">
                  Sales vs target
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-1 id="icon-2">
              <ion-icon name="md-arrow-dropdown" (click)="target = !target"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row id="target-body" [hidden]="target">
            <ion-col col-12 col-sm-12>
              <div id="chartTarget" style="display: block;"></div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="number == chartPositions.chartLastYear" col-12 col-sm-12 id="lastYear">
          <ion-row id="lastYear-header">
            <ion-col col-2 col-sm-1 id="icon-1">
              <i class="fa fa-area-chart"></i>
            </ion-col>
            <ion-col col-9 col-sm-10 id="title">
              <ion-row>
                <ion-col col-12 id="" style="font-size:20px;font-weight: bold;color:white">
                  {{SaleTotalHDNow}} M vs {{SalevsLastYearHD.TotalLastYear}} M
                </ion-col>
                <ion-col col-12 style="color:white; font-size: 18px;">
                  Sales vs last year
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-1 id="icon-3">
              <ion-icon name="md-arrow-dropdown" (click)="lastYear = !lastYear"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row id="lastYear-body" [hidden]="lastYear">
            <ion-col col-12 col-sm-10 col-lg-10 col-xl-11>
              <ion-row>
                <ion-col id="label" col-12 col-sm-6>
                  <button ion-button style="background-color:white; color:black;text-transform: none; font-size:18px">
                    Xem theo giá trị hợp đồng
                  </button>
                </ion-col>
                <!-- <ion-col col-12 col-sm-6 id="button">
                <button ion-button color="light">Xem theo tổng doanh thu</button>
              </ion-col> -->
              </ion-row>
              <div id="chartLastYear" style="display: block;"></div>
            </ion-col>
            <ion-col col-12 col-sm-2 col-lg-2 col-xl-1>
              <ion-row id="legend-header">
                <ion-row id="legend">
                  <ion-col col-12 style=" text-align:center;">
                    <ion-icon name="md-arrow-round-up" style="color : green;"> {{SalevsLastYearHD.totalTrends}}% </ion-icon> - 12T
                  </ion-col>

                </ion-row>
              </ion-row>
              <ion-row id="legend-body">
                <ng-container *ngFor="let numberTrends of [0,1,2,3,4,5,6,7,8,9,10,11]">
                  <ion-col id="legend" *ngIf="arrayTrendsHD[numberTrends] > 0 ">
                    <ion-icon name="md-arrow-round-up" style="color : green;"> {{arrayTrendsHD[numberTrends]}}% </ion-icon> - {{ArrayFinancialMonth[numberTrends]}}
                  </ion-col>
                  <ion-col id="legend" *ngIf="arrayTrendsHD[numberTrends] < 0">
                    <ion-icon name="md-arrow-round-down" style="color : red;"> {{arrayTrendsHD[numberTrends]}}% </ion-icon> - {{ArrayFinancialMonth[numberTrends]}}
                  </ion-col>

                  <ion-col id="legend" *ngIf="arrayTrendsHD[numberTrends] == 0">
                    <ion-icon name="md-remove" style="color : #E67E22;"> {{arrayTrendsHD[numberTrends]}}% </ion-icon> - {{ArrayFinancialMonth[numberTrends]}}
                  </ion-col>
                </ng-container>

                <!-- T10 11 12 -->
                <!-- <ng-container *ngIf="numberTrends > 8">
                  <ion-row id="legend" *ngIf="arrayTrends[numberTrends] > 0">
                    <ion-col col-12>
                      <ion-icon name="md-arrow-round-up" style="color : green;"> {{arrayTrends[numberTrends]}}% </ion-icon> - T{{numberTrends+4}}
                    </ion-col>
                  </ion-row>
                  <ion-row id="legend" *ngIf="arrayTrends[numberTrends] < 0">
                    <ion-col col-12>
                      <ion-icon name="md-arrow-round-down" style="color : red;"> {{arrayTrends[numberTrends]}}% </ion-icon> - T{{numberTrends+4}}
                    </ion-col>
                  </ion-row>
                </ng-container> -->


              </ion-row>

            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="number == chartPositions.chartLastYearRevenue" col-12 col-sm-12 id="lastYearRevenue">
          <ion-row id="lastYearRevenue-header">
            <ion-col col-2 col-sm-1 id="icon-1">
              <i class="fa fa-area-chart"></i>
            </ion-col>
            <ion-col col-9 col-sm-10 id="title">
              <ion-row>
                <ion-col col-12 id="" style="font-size:20px;font-weight: bold;color:white">
                  {{SaleTotalHDNow}} M vs {{SalevsLastYearDT.TotalLastYear}} M
                </ion-col>
                <ion-col col-12 style="color:white; font-size: 18px;">
                  Sales vs last year
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-1 id="icon-2">
              <ion-icon name="md-arrow-dropdown" (click)="lastYearRevenue = !lastYearRevenue"></ion-icon>
            </ion-col>

          </ion-row>
          <ion-row id="lastYearRevenue-body" [hidden]="lastYearRevenue">
            <ion-col col-12 col-sm-10 col-lg-10 col-xl-11>
              <ion-row>
                <ion-col id="label" col-12 col-sm-6>
                  <button ion-button style="background-color:white; color:black;text-transform: none; font-size:18px">
                    Xem theo tổng doanh thu
                  </button>
                </ion-col>
                <!-- <ion-col col-12 col-sm-6 id="button">
                  <button ion-button color="light">Xem theo tổng doanh thu</button>
                </ion-col> -->

              </ion-row>

              <div id="chartLastYearRevenue" style="display: block;"></div>
            </ion-col>
            <ion-col col-12 col-sm-2 col-lg-2 col-xl-1>
              <ion-row id="legend-header">
                <ion-row id="legend">
                  <ion-col col-12 style=" text-align:center;">
                    <ion-icon name="md-arrow-round-up" style="color : green;"> {{SalevsLastYearDT.totalTrends}}% </ion-icon> - 12T
                  </ion-col>
                </ion-row>
              </ion-row>
              <ion-row id="legend-body" *ngFor="let numberTrends of [0,1,2,3,4,5,6,7,8,9,10,11]">
                <ng-container>
                  <ion-row id="legend" *ngIf="arrayTrendsDT[numberTrends] > 0 ">
                    <ion-col col-12>
                      <ion-icon name="md-arrow-round-up" style="color : green;"> {{arrayTrendsDT[numberTrends]}}% </ion-icon> - {{ArrayFinancialMonth[numberTrends]}}
                    </ion-col>
                  </ion-row>
                  <ion-row id="legend" *ngIf="arrayTrendsDT[numberTrends] < 0">
                    <ion-col col-12>
                      <ion-icon name="md-arrow-round-down" style="color : red;"> {{arrayTrendsDT[numberTrends]}}% </ion-icon> - {{ArrayFinancialMonth[numberTrends]}}
                    </ion-col>
                  </ion-row>
                  <ion-row id="legend" *ngIf="arrayTrendsDT[numberTrends] == 0">
                    <ion-col col-12>
                      <ion-icon name="md-remove" style="color : #E67E22;"> {{arrayTrendsDT[numberTrends]}}% </ion-icon> - {{ArrayFinancialMonth[numberTrends]}}
                    </ion-col>
                  </ion-row>
                </ng-container>
              </ion-row>

            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="number == chartPositions.chartService" col-12 col-sm-6 id="service">
          <ion-row id="service-header">
            <ion-col col-2 id="icon-1">
              <i class="fa fa-pie-chart"></i>
            </ion-col>
            <ion-col col-9 id="title">
              <ion-row>
                <ion-col col-12 id="" style="font-size:20px;font-weight: bold;color:white">
                  {{SaleTotalHDNow}} M
                </ion-col>
                <ion-col col-12 style="color:white; font-size: 18px;">
                  Sales by service
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-1 id="icon-2">
              <ion-icon name="md-arrow-dropdown" (click)="service = !service"></ion-icon>
            </ion-col>

          </ion-row>
          <ion-row id="service-body" [hidden]="service">
            <ion-col col-12 col-sm-12>
              <div id="chartService" style="display: block;"></div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="number == chartPositions.chartRegion" col-12 col-sm-6 id="region">
          <ion-row id="region-header">
            <ion-col col-2 id="icon-1">
              <i class="fa fa-pie-chart"></i>
            </ion-col>
            <ion-col col-9 id="title">
              <ion-row>
                <ion-col col-12 id="" style="font-size:20px;font-weight: bold;color:white">
                  {{SaleTotalHDNow}} M
                </ion-col>
                <ion-col col-12 style="color:white; font-size: 18px;">
                  Sales by client region
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-1 id="icon-2">
              <ion-icon name="md-arrow-dropdown" (click)="region = !region"></ion-icon>
              <!-- <ion-icon name="md-sync"></ion-icon> -->
            </ion-col>
          </ion-row>
          <ion-row id="region-body" [hidden]="region">
            <ion-col col-12 col-sm-12>
              <div id="chartRegion" style="display: block;"></div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>