
.sort-children{
  display:flex;
  flex-direction: row;
  flex-flow: row;
}

button{
  box-shadow: none !important;
  border-color: rgba(0,0,0,0) !important;
  outline: none !important;
}
page-home {

}
#dashboard{
    background-color: #F1F3F6;
  }
   // deal total
  
  #dealDonut-header{
    background: #BD97D0;
    border: 1px #9B59B6;
    border-radius: 5px;
  }
  #dealDonut-header #icon-1{
    background: #9B59B6;
    border-radius: 5px;
    text-align: center
  }
  #dealDonut-header ion-icon{
    font-size: 30px;color:white;margin-top:17px
  }
  #dealDonut-body{
    background: white;
    border-radius: 5px;
    margin-top: 10px;
  }
  
   // total sales
  
  #totalSale-header{
    background: #80BCE6;
    border: 1px #3498DB  ;
    border-radius: 5px;
  }
  #totalSale-header #icon-1{
    background: #3498DB;
    border-radius: 5px;
    text-align: center
  }
  #totalSale-header ion-icon{
    font-size: 30px;color:white;margin-top:17px
  }
  #totalSale-header i{
    font-size: 30px;color:white;margin-top:17px
  }
  #totalSale-body{
    background: white;
    border-radius: 5px;
    margin-top: 10px;
  }
  // target
  
  #target-header{
    background: #9BDB80;
    border: 1px #62CB31;
    border-radius: 5px;
  }
  #target-header #icon-1{
    background: #62CB31;
    border-radius: 5px;
    text-align: center
  }
  #target-header ion-icon{
    font-size: 30px;color:white;margin-top:17px
  }
  #target-body{
    background: white;
    border-radius: 5px;
    margin-top: 10px;
  }
   // last year
  
   #lastYear-header{
    background: #EAAD77;
    border: 1px #E67E22;
    border-radius: 5px;
  }
  #lastYear-header #icon-1{
    background: #E67E22;
    border-radius: 5px;
    text-align: center
  }
  #lastYear-header ion-icon{
    font-size: 40px;color:white;margin-top:10px
  }
  #lastYear-header i{
    font-size: 30px;color:white;margin-top:17px
  }
  #lastYear-body{
    background: white;
    border-radius: 5px;
    margin-top: 10px;
  }
  #lastYear-body #legend-header{
    border-radius: 5px;
    background-color: #FDEDEC;
  }
  #lastYear-body #legend-body{
    margin-top: 5px;
    border-radius: 5px;
  }
  #lastYear-body #legend-body ion-icon{
    // background-color: #FDEDEC;
    // margin-top: 5px;
    border-radius: 5px;
  }
  #lastYear-body #legend-body #legend{
    // margin:auto;
  }
  #lastYear-body #legend-header #legend{
    // margin:auto;
  }
  #lastYear-body #label {
    // text-align:left;
  }
  #lastYear-body #button {
    text-align:right;
  }
  @media screen and (max-width: 480px){
    #lastYear-body #label {
      text-align:center;
      
    }
    #lastYear-body #button {
      float: left;
      text-align:center;
      
  }
  } 
      // last year revenue
  
      #lastYearRevenue-header{
        background: #44A9A8;
        border: 1px rgb(60, 146, 145);
        border-radius: 5px;
      }
      #lastYearRevenue-header #icon-1{
        background: rgb(60, 146, 145);
        border-radius: 5px;
        text-align: center
      }
      #lastYearRevenue-header ion-icon{
        font-size: 40px;color:white;margin-top:10px
      }
      #lastYearRevenue-header i{
        font-size: 30px;color:white;margin-top:17px
      }
      #lastYearRevenue-body{
        background: white;
        border-radius: 5px;
        margin-top: 10px;
      }
      #lastYearRevenue-body #legend-header{
        border-radius: 5px;
        background-color: #FDEDEC;
      }
      #lastYearRevenue-body #legend-body{
        margin-top: 5px;
        border-radius: 5px;
      }
      #lastYearRevenue-body #legend-body ion-icon{
        // background-color: #FDEDEC;
        // margin-top: 5px;
        border-radius: 5px;
      }
      #lastYearRevenue-body #legend-body #legend{
        // margin:auto;
      }
      #lastYearRevenue-body #legend-header #legend{
        // margin:auto;
      }
      #lastYearRevenue-body #label {
        // text-align:left;
      }
      #lastYearRevenue-body #button {
        text-align:right;
      }
      @media screen and (max-width: 480px){
        #lastYearRevenue-body #label {
          text-align:center;
          
        }
        #lastYearRevenue-body #button {
          float: left;
          text-align:center;
          
      }
      } 
// service
  
#service-header{
  background: #BD97D0;
  border: 1px #9B59B6;
  border-radius: 5px;
}
#service-header #icon-1{
  background: #9B59B6;
  border-radius: 5px;
  text-align: center
}
#service-header ion-icon{
  font-size: 40px;color:white;margin-top:10px
}
#service-header i{
  font-size: 30px;color:white;margin-top:17px
}
#service-body{
  background: white;
  border-radius: 5px;
  margin-top: 10px;
}
// region

#region-header{
  background: #80BCE6;
  border: 1px #3498DB;
  border-radius: 5px;
}
#region-header #icon-1{
  background: #3498DB;
  border-radius: 5px;
  text-align: center
}
#region-header ion-icon{
  font-size: 40px;color:white;margin-top:10px
}
#region-header i{
  font-size: 30px;color:white;margin-top:17px
}
#region-body{
  background: white;
  border-radius: 5px;
  margin-top: 10px;
}