<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-row>
          <ion-col col-5 *ngIf="userStorage.sub !==''">
            <img style="width:100px;height:100px; border-radius:50%;" src="http://hrm.ocd.vn/uploads/avatar/{{userStorage.profile}}.jpg">
          </ion-col>
          <ion-col col-5 *ngIf="userStorage.sub ===''">
            <img style="width:100px;height:100px; border-radius:50%;" src="assets/imgs/logo.png">
          </ion-col>
          <ion-col col-7 style="font-size:18px">
            {{userStorage.sub}}
            <br> {{userStorage.email}}
            <br>
            <br>
            <a href="#" (click)="logout()"> Đăng xuất</a>
          </ion-col>
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item icon-left (click)="nav.setRoot(pages2.homePage)">

        <div>
          <ion-row>
            <ion-col col-3>
              <i class="fa fa-tachometer fa-2x" style="color:#2D2B76" aria-hidden="true"></i>
            </ion-col>
            <ion-col col-9 style="margin-top: 6px;">
              Dashboard
            </ion-col>
          </ion-row>

        </div>
      </button>
      <button menuClose ion-item icon-left (click)="nav.setRoot(pages2.incomingPage)">
        <div>
          <ion-row>
            <ion-col col-3>
              <i class="fa fa-area-chart fa-2x" style="color:#3498DB"></i>
            </ion-col>
            <ion-col col-9 style="margin-top: 6px;">Total incoming deals </ion-col>
          </ion-row>
        </div>
      </button>
      <button menuClose ion-item icon-left (click)="nav.setRoot(pages2.totalSalesPage)">
        <div>
          <ion-row>
            <ion-col col-3>
              <i class="fa fa-area-chart fa-2x" style="color:#62CB31"></i>
            </ion-col>
            <ion-col col-9 style="margin-top: 6px;"> Total Sales </ion-col>
          </ion-row>
        </div>
      </button>
      <button menuClose ion-item icon-left (click)="nav.setRoot(pages2.sectorPage)">
        <div>
          <ion-row>
            <ion-col col-3>
              <i class="fa fa-pie-chart fa-2x" style="color:#E67E22"></i>
            </ion-col>
            <ion-col col-9 style="margin-top: 6px;"> Sales by client sector </ion-col>
          </ion-row>
        </div>
      </button>
      <button menuClose ion-item icon-left (click)="nav.setRoot(pages2.sourcePage)">
        <div>
          <ion-row>
            <ion-col col-3>
              <i class="fa fa-pie-chart fa-2x" style="color:#9B59B6"></i>
            </ion-col>
            <ion-col col-9 style="margin-top: 6px;"> Sales by source </ion-col>
          </ion-row>
        </div>
      </button>
      <button menuClose ion-item icon-left (click)="nav.setRoot(pages2.dealSourcePage)">
        <div>
          <ion-row>
            <ion-col col-3>
              <i class="fa fa-pie-chart fa-2x" style="color:#3498DB"></i>
            </ion-col>
            <ion-col col-9 style="margin-top: 6px;"> Deals source </ion-col>
          </ion-row>
        </div>
      </button>
      <button menuClose ion-item icon-left (click)="nav.setRoot(pages2.dealLossPage)">
        <div>
          <ion-row>
            <ion-col col-3>
              <i class="fa fa-pie-chart fa-2x" style="color:#3C9291"></i>
            </ion-col>
            <ion-col col-9 style="margin-top: 6px;"> Deals loss reason </ion-col>
          </ion-row>
        </div>
      </button>
      <button menuClose ion-item icon-left (click)="nav.setRoot(pages2.settingPage)">
        <div>
          <ion-row>
            <ion-col col-3>
              <ion-icon name="settings" style="color:rgb(180, 168, 168); font-size: 35px; "></ion-icon>
            </ion-col>
            <ion-col col-9 style="margin-top: 6px;"> Setting </ion-col>
          </ion-row>
        </div>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>